.file-upload {
    padding: 100px;
	position: relative;
	display: inline-block;
}

.file-upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background: rgb(84, 96, 165);
  border-radius: .4em;
  transition: background .3s;
  
  &:hover {
     cursor: pointer;
     background: rgb(8, 17, 68);
  }
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

html {
   font-family: 'helvetica neue', 'arial', sans-serif;
   font-size: 24px;
   font-weight: bold;
   padding-top: 5em;
   -webkit-font-smoothing: antialiased;
   text-align: center;
   background-color: #7fcec5;
}

button{
  background-color: #fff;
}